
<div *ngFor="let student of students"> {{ student.firstName }}
    <p *ngIf="!student.active">not active</p>
    <p *ngIf="student.avgMarks > 90"><mark>your marks are higher than the average</mark></p>
    <button (click)="toggleDetails(student)">show details</button>
    <button (click)="deleteStudent(student)">delete</button>
    <hr>
</div>


<div>
    <app-student-details *ngIf="showDetails" [student]="selectedStudent"></app-student-details>
</div>

<div>
    <button (click)="addStudent()">add</button>
</div>